/1-introduction-base
/1-introduction
/2-numbers-in-detail-base
/2-numbers-in-detail
/3-going-forth-base
/3-going-forth
/discuss
/reviews
/archives

# Ignore editor files
*~
\#*\#

# Compiler outputs
a.out
*.o
*.elf

# Patch/merge conflict files
*.orig
*.rej
